# <font color="blue"> Chapter 2 - Literal Expressions </font>

Literals can be defined as a data that is given in a variable or constant.

### <font color="blue"> Strings </font>

In [3]:
print("Strings in Python")

Strings in Python

In [4]:
print('Strings ' + 'in ' + 'Python')

Strings in Python

No need to add a space when using a comma

In [5]:
print('Strings','in','Python')

Strings in Python

There is no difference between single and double quotes

In [6]:
'some text' == "some text"

True

### <font color="blue"> Numbers </font>

#### Printing Literals

In [8]:
print(100)

100

In [9]:
print(1.2345)  # Floating number

1.2345

#### Printing Calculations

In [10]:
print(100 + 100)

200

In [11]:
print('100 + 100')

100 + 100

In [12]:
print('100' + '100')

100100

Calculations can include the following operators:

<ul>
  <li>+ : Addition </li>
  <li>- : Subtraction</li>
  <li>* : Multiplication</li>
  <li>/ : Division</li>
  <li>** : Exponent</li>
  <li>% : Modulus</li>
</ul>

In [15]:
print(100 + 100 * 5)  # Python is aware of order of precedence

600

In [16]:
print(100 * 5)

500

In [17]:
print('100' * 5)

100100100100100

In [18]:
print('100 * 5')

100 * 5

In [20]:
# print('100' * '5')  
# TypeError: can't multiply sequence by non-int of type 'str'

### <font color="blue"> Boolean Expressions </font>

In [21]:
print(True)

True

In [22]:
print(False)

False

In [23]:
print(100 < 200)

True

In [24]:
print('P' in 'Python')

True

Python is **Case sesitive**!

In [1]:
print('p' in 'Python')

False

In [25]:
print('late' in 'It is never too late to be what you might have been.')

True