# <font color="blue"> Chapter 13 - Lists </font>

#### Creating an empty list

In [2]:
my_empty_list = []

In [3]:
print(my_empty_list)

[]

In [4]:
print(type(my_empty_list))

<class 'list'>

In [5]:
my_list = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
print(my_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Datatypes

Lists can contain data from different types and even other lists

In [7]:
my_list = ['hello', 100, True, 'Python', 200, False, [1, 2, 3], ['a', 'b', 'c']]

In [8]:
print(my_list)

['hello', 100, True, 'Python', 200, False, [1, 2, 3], ['a', 'b', 'c']]

#### Find value by index position (slicing)

print a value from a specific position in the list

In [23]:
print(my_list[0])

1

print all values in a position range 
including first, not including last

In [10]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
print(my_list[2:4])

[2, 3]

In [12]:
print(my_list[1] + my_list[4])

5

#### print the number of values in a list

In [15]:
print(len(my_list))

10

#### Find index position by value

In [16]:
more_numbers = [12, 34, 56, 78, 56, 34, 12, 56]

In [17]:
print(more_numbers.index(56))

2

In [18]:
print(more_numbers.index(56,3))

4

#### Count

count the number of occurrences for specific value in the list

In [19]:
print(more_numbers.count(56))

3

#### Concatenating 2 lists

In [60]:
my_list = [1, 2, 3, 4, 5]
my_other_list = [6, 7, 8, 9, 10]

In [61]:
print(my_list + my_other_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Replicate list

In [62]:
print(my_list * 3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#### Adding values to a list

 Insert values on the left

In [63]:
my_list[:0] += ['left_value_1', 'left_value_2']

In [64]:
print(my_list)

['left_value_1', 'left_value_2', 1, 2, 3, 4, 5]

Insert values on the right

In [65]:
my_list += ['right_value_1', 'right_value_2']

In [66]:
print(my_list)

['left_value_1', 'left_value_2', 1, 2, 3, 4, 5, 'right_value_1', 'right_value_2']

Using `extend()`

In [67]:
my_list.extend(['right_value_3', 'right_value_4'])

In [68]:
print(my_list)

['left_value_1', 'left_value_2', 1, 2, 3, 4, 5, 'right_value_1', 'right_value_2', 'right_value_3', 'right_value_4']

Using `append()`

In [69]:
my_list.append('right_value_5')

In [70]:
print(my_list)

['left_value_1', 'left_value_2', 1, 2, 3, 4, 5, 'right_value_1', 'right_value_2', 'right_value_3', 'right_value_4', 'right_value_5']

#### Insert at a specific location

In [71]:
my_list.insert(3, 'aaa')

In [72]:
print(my_list)

['left_value_1', 'left_value_2', 1, 'aaa', 2, 3, 4, 5, 'right_value_1', 'right_value_2', 'right_value_3', 'right_value_4', 'right_value_5']

We can't assign values to a list in a non-existing index.

In [73]:
# my_list[999] = 999

This, on the other hand, will work :

In [74]:
my_list[0] = 999

A string is a sequence of characters, so if we add that to a list will get it as a sequence

In [75]:
my_list += 'Bingo'

In [76]:
print(my_list)

[999, 'left_value_2', 1, 'aaa', 2, 3, 4, 5, 'right_value_1', 'right_value_2', 'right_value_3', 'right_value_4', 'right_value_5', 'B', 'i', 'n', 'g', 'o']

The right way to do it

In [77]:
my_list += ['Bingo']

In [78]:
print(my_list)

[999, 'left_value_2', 1, 'aaa', 2, 3, 4, 5, 'right_value_1', 'right_value_2', 'right_value_3', 'right_value_4', 'right_value_5', 'B', 'i', 'n', 'g', 'o', 'Bingo']

Remember, Values in a list CAN be changed

In [79]:
my_list[1] = 'New Value!'

In [80]:
print(my_list)

[999, 'New Value!', 1, 'aaa', 2, 3, 4, 5, 'right_value_1', 'right_value_2', 'right_value_3', 'right_value_4', 'right_value_5', 'B', 'i', 'n', 'g', 'o', 'Bingo']

#### Remove items from a list

Remove by value

In [81]:
my_list.remove('New Value!')

Remove method removes only the first occurrence it finds <br>
You can always use a loop to remove repeating values

In [82]:
my_list = ['a', 'a', 'b', 'a', 'c', 'd', 'e', 'a']

In [83]:
print(my_list)

['a', 'a', 'b', 'a', 'c', 'd', 'e', 'a']

In [84]:
counter = 0

while True:
    if 'a' in my_list:
        my_list.remove('a')
        counter += 1
    else:
        break

In [85]:
print(my_list)

['b', 'c', 'd', 'e']

In [86]:
print ("{} occurrence of \'a\' have been removed".format(counter))

4 occurrence of 'a' have been removed

Remove by position using del

In [87]:
print(my_list)

['b', 'c', 'd', 'e']

In [88]:
del my_list[3]

In [89]:
print(my_list)

['b', 'c', 'd']

Remove by position using .pop
By default, the pop method will return the last member in a list (index -1),
and also remove it from the list permanently

In [90]:
print(my_list)

['b', 'c', 'd']

In [91]:
print(my_list.pop())

d

In [92]:
print(my_list)

['b', 'c']

We can specify a specific index to remove

In [93]:
print(my_list)

['b', 'c']

In [94]:
x = my_list.pop(1)

In [95]:
print(x)

c

In [96]:
print(my_list)

['b']

#### Clear a list

In [97]:
my_list.clear()

#### Sorting the List

In [98]:
numbers = [3, 8, 12, 45, 34, 8, 1, 69]

sort is not inplace

In [99]:
print(sorted(numbers))

[1, 3, 8, 8, 12, 34, 45, 69]

In [100]:
print(sorted(numbers, reverse=True))

[69, 45, 34, 12, 8, 8, 3, 1]

In [101]:
print(numbers)

[3, 8, 12, 45, 34, 8, 1, 69]

In [102]:
print(numbers)

[3, 8, 12, 45, 34, 8, 1, 69]

In [103]:
numbers.reverse()

Notice that we don't have to assign the result of the method.
The change to the list is permanent

In [104]:
print(numbers)

[69, 1, 8, 34, 45, 12, 8, 3]

Same with the sort method

In [105]:
numbers.sort()

In [106]:
print(numbers)

[1, 3, 8, 8, 12, 34, 45, 69]

Reverse sorting

In [107]:
numbers.sort(reverse=True)

In [108]:
print(numbers)

[69, 45, 34, 12, 8, 8, 3, 1]

This works with strings as well

In [109]:
letters = ['s', 'd', 'g', 't', 'e', 'c', 'a', 'k']

letters.sort()

In [110]:
print(letters)

['a', 'c', 'd', 'e', 'g', 'k', 's', 't']

In [111]:
letters.sort(reverse=True)

In [112]:
print(letters)

['t', 's', 'k', 'g', 'e', 'd', 'c', 'a']

#### Nested Lists

In [113]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ['I', 'II', 'III']

lists = [list1, list2, list3]

In [114]:
print(lists)

[[1, 2, 3], ['a', 'b', 'c'], ['I', 'II', 'III']]

In [115]:
print(lists[0])

[1, 2, 3]

In [116]:
print(lists[2][1])

II

because strings are sequences themselves, we can use this
trick on simple string values inside lists

In [117]:
words = ['hi', 'bye', 'good', 'bad']

In [118]:
print(words[2])

good

In [119]:
print(words[2][3])

d

We can also use slicing

In [120]:
print(words[2][1:])

ood

and even use string methods

In [121]:
print(words[2].upper())

GOOD

#### Using Random

Creating list of random numbers

In [122]:
import random

Creating list of random values

In [123]:
my_list = []
for i in range(0, 11):
    my_list.append(random.randint(0, 100))

In [124]:
print(my_list)

[12, 10, 91, 29, 61, 75, 17, 13, 66, 41, 20]

Creating a nested list of random values

In [125]:
outer_list = []
for i in range(0, 11):
    inner_list = []
    for j in range(0, 11):
        inner_list.append(random.randint(0, 100))
    outer_list.append(inner_list)

In [126]:
print(outer_list[5])

[80, 83, 32, 26, 17, 8, 2, 77, 19, 51, 41]

In [127]:
print(outer_list[5][4])

17

Sum the nested list values

In [128]:
counter = 0
my_sum = 0
for sublist in outer_list:
    for num in sublist:
        my_sum += num
        counter += 1

In [129]:
print(my_sum)

6222

Turn a sequence into a list

In [130]:
word = 'bonanza'

In [131]:
print(list(word))

['b', 'o', 'n', 'a', 'n', 'z', 'a']

#### Using copy()

Creating a list from an existing one, only creates a reference

In [1]:
new_list = [1, 2, 3, 4, 5]
copy_list = new_list
print(new_list)
print(copy_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [135]:
copy_list.remove(1)

In [2]:
print(new_list)
print(copy_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

#### Create a copy list

In [3]:
new_list = [1, 2, 3, 4, 5]
copy_list = new_list.copy()
print(new_list)
print(copy_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [4]:
copy_list.remove(1)

In [5]:
print(new_list)
print(copy_list)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]