# Tuples

Like lists, a tuple can be used to group any number of items into a single compound value.
There are two main differences :
* Tuples are defined with the '(' ')' symbols,
* We can't change the values in them

In [1]:
%%html
<iframe width="840" height="473" src="https://www.youtube.com/embed/pqCCn72LXP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

#### Setting up the Tuple

In [2]:
my_empty_tuple = ()

In [3]:
print(my_empty_tuple)

()

In [4]:
print(type(my_empty_tuple))

<class 'tuple'>

Although it is not necessary, it is conventional to enclose tuples in parentheses:

In [5]:
num_tup = 10, 50, 100, 500
num_tup = (10, 50, 100, 500)

#### Datatypes 

Tuples can contain data from different types and even other tuples

In [6]:
my_tuple = ('hello', 100, True, 'Python', 200, False, [1, 2, 3], ('a', 'b', 'c'))

In [7]:
print(my_tuple)

('hello', 100, True, 'Python', 200, False, [1, 2, 3], ('a', 'b', 'c'))

#### Slicing 

tuple slicers works exactly like lists

In [8]:
print(num_tup[0])

10

print a slice of a tuple

In [9]:
print(num_tup[1:4])

(50, 100, 500)

In [10]:
print(num_tup[0] * num_tup[2])

1000

#### Print the number of values in a tuple

In [11]:
print(len(num_tup))

4

#### Replicate the tuple

In [12]:
print(num_tup * 2)

(10, 50, 100, 500, 10, 50, 100, 500)

In [13]:
print(num_tup)

(10, 50, 100, 500)

In [14]:
num_tup += (100, 90, 80)

In [15]:
print(num_tup)

(10, 50, 100, 500, 100, 90, 80)

#### Search for value inside Tuple (True / False)

In [16]:
print(50 in num_tup)

True

#### Imutability
Values inside Tuples can't be changed

In [18]:
# num_tup[1] = 999

#### Search by Value

In [19]:
num_tup = (100,200,300,100,200,300,100,200,300)

#### Get the first position of a value inside a tuple <br>

In simple terms, `index()` method searches for the given element in a tuple and returns its position.

Get the first position of 100

In [20]:
num_tup.index(100)

0

Get the first position of 100 starting from position 1

In [21]:
num_tup.index(100,1)

3

In [22]:
# ValueError: tuple.index(x): x not in tuple
# num_tup.index(999)

#### Count 

Get the number of times a value appears in a tuple

In [23]:
num_tup.count(100)

3

Valid statement

In [24]:
num_tup.count(999)

0

Combining Count + Index

In [25]:
num_tup = (100,200,300,100,200,300,100,200,300)

pos = 0 
for i in range(num_tup.count(100)):
  print("100 in position : ", num_tup.index(100,pos))
  pos = num_tup.index(100,pos) + 1

100 in position :  0
100 in position :  3
100 in position :  6

#### Tuple 'unpacking'

In [26]:
tup = (1, 2, 3, 4)
a, b, c, d = tup

Is the same as :
a, b, c, d = tup[0], tup[1], tup[2], tup[3]

In [27]:
print(a + b + c + d)

10

Unpacking to a wildcard (only 1 is allowed)

In [30]:
# tup = (1, 2, 3, 4, 5, 6, 7, 8)
# a, b, c, d = tup

# tup = (1, 2, 3, 4, 5, 6, 7, 8)
a, b, c, *d = tup

In [31]:
print(a,b,c,d)

1 2 3 [4, 5, 6, 7, 8]

In [32]:
tup = (1, 2, 3, 4, 5, 6, 7, 8)
a, b, *c, d = tup

In [33]:
print(a,b,c,d)

1 2 [3, 4, 5, 6, 7] 8

#### Sorting

In [34]:
tup = (3,4,6,1,5,8,7,9,0)

In [35]:
print(sorted(tup))

[0, 1, 3, 4, 5, 6, 7, 8, 9]

In [36]:
print(sorted(tup, reverse=True))

[9, 8, 7, 6, 5, 4, 3, 1, 0]

In [37]:
print(tup)

(3, 4, 6, 1, 5, 8, 7, 9, 0)

#### Iterating through list of tuples

In [38]:
tup_list = [(1, 10), (2, 20), (3, 30), (4, 40)]

for tup in tup_list:
    print(tup)

(1, 10)
(2, 20)
(3, 30)
(4, 40)

Or

In [39]:
for tup in tup_list:
    if len(tup) > 1:
        for sub_tup in tup:
            print(sub_tup)
    else:
        print(tup)

1
10
2
20
3
30
4
40

#### Convert a list into a tuple

In [40]:
list = ['a','b','c','d']
tup = tuple(list)

In [41]:
print(tup)

('a', 'b', 'c', 'd')