# <font color="blue"> Chapter 15 - Sets </font>

A set contains an unordered collection of unique and immutable objects

#### Create an empty set

In [1]:
new_set = set()

In [2]:
print(type(new_set))

<class 'set'>

#### Create a set with values

In [3]:
new_set = {1, 2, 3, 4, 5}

In [4]:
print(new_set)

{1, 2, 3, 4, 5}

#### Datatypes

In [5]:
new_set = {1, "a", True, (2,3,4,5)}

In [6]:
print(new_set)

{1, (2, 3, 4, 5), 'a'}

Supports all except lists

In [7]:
# new_set = {1, "a", True, (2,3,4,5), [1,2,3,4]}

#### Adding / Removing Items

In [8]:
new_set = {1, 2, 3, 4, 5}

In [9]:
print(new_set)

{1, 2, 3, 4, 5}

add to a set

In [10]:
new_set.add(4)

In [11]:
print(new_set)

{1, 2, 3, 4, 5}

Adding an existing value won't have any affect

In [12]:
new_set.add(2)

In [13]:
print(new_set)

{1, 2, 3, 4, 5}

Delete values from set

In [14]:
new_set.remove(4)

In [15]:
print(new_set)

{1, 2, 3, 5}

Trying to remove a value that doesn't exist will result in an error. <br>
That's why it might be better to use `discard()`

In [16]:
# new_set.remove(999)

In [17]:
new_set.discard(3)

In [18]:
print(new_set)

{1, 2, 5}

In [19]:
new_set.discard(999)

In [20]:
print(new_set)

{1, 2, 5}

`pop()` takes no argumets

In [21]:
new_set.pop()

1

In [22]:
print(new_set)

{2, 5}

Remove all items from a set

In [23]:
new_set.clear()

In [24]:
print(new_set)

set()

#### Selecting Items

* Values in sets don't have indexes.
* Therefore we can't address specific values or use slicers.
* But we can still ask if a specific value exists in the set

In [25]:
# Error : 'set' object does not support indexing
# print(new_set[1])

In [26]:
new_set = {1, 2, 3, 4, 5}

In [27]:
print(1 in new_set)

True

#### Create a set from a list

In [28]:
l = [1,2,3,4,5,4,3,2,1,2,3,4,5,4,3,2,1]

In [29]:
print(l)

[1, 2, 3, 4, 5, 4, 3, 2, 1, 2, 3, 4, 5, 4, 3, 2, 1]

In [30]:
print(set(l))

{1, 2, 3, 4, 5}

In [31]:
s = set(l)

In [32]:
print(s)

{1, 2, 3, 4, 5}

### Set Operations

#### Difference

In [33]:
odd = {1,2,3,5,7,9}
even = {1,2,4,6,8,10}

In [34]:
print(odd.difference(even))

{9, 3, 5, 7}

In [35]:
print(even.difference(odd))

{8, 10, 4, 6}

We can also use (-)

In [36]:
print(odd - even)

{9, 3, 5, 7}

In [37]:
print(even - odd)

{8, 10, 4, 6}

We can update the the set to contain only the difference

In [38]:
odd.difference_update(even)

In [39]:
print(odd)

{3, 5, 7, 9}

#### Intersection

In [40]:
odd = {1,2,3,5,7,9}
even = {1,2,4,6,8,10}

In [41]:
print(odd.intersection(even))

{1, 2}

In [42]:
print(even.intersection(odd))

{1, 2}

We can also use (&)

In [43]:
print(odd & even)

{1, 2}

In [44]:
print(even & odd)

{1, 2}

We can update the the set to contain only the intersection

In [45]:
odd.intersection_update(even)

In [46]:
print(odd)

{1, 2}

#### symmetric_difference

symmetric_difference is the opposite of intersection and will return all of the
items that appear only in one of the sets

In [47]:
odd = {1,2,3,5,7,9}
even = {1,2,4,6,8,10}

In [48]:
print(odd.symmetric_difference(even))

{3, 4, 5, 6, 7, 8, 9, 10}

In [49]:
print(even.symmetric_difference(odd))

{3, 4, 5, 6, 7, 8, 9, 10}

We can also use (^)

In [50]:
print(odd ^ even)

{3, 4, 5, 6, 7, 8, 9, 10}

In [51]:
print(even ^ odd)

{3, 4, 5, 6, 7, 8, 9, 10}

We can update the the set to contain the symmetric difference

In [52]:
odd.symmetric_difference_update(even)

In [53]:
print(odd)

{3, 4, 5, 6, 7, 8, 9, 10}

#### Union

In [54]:
odd = {1,2,3,5,7,9}
even = {1,2,4,6,8,10}

In [55]:
print(odd.union(even))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

We can also use |

In [56]:
print(odd | even)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Update

In [57]:
odd.update(even)

In [58]:
print(odd)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### Boolean set checks

#### `isdisjoint()` <br>
isdisjoint will return True if there is no intersection (intersection == null)

In [59]:
odd = {1,2,3,5,7,9}
even = {1,2,4,6,8,10}

In [60]:
print(odd.isdisjoint(even))

False

#### `issubset()` / `issuperset()`

`issubset()` would return True if a set is contained (subset) inside the other set

In [61]:
mammals = {'Dog', 'Cat', 'Cow'}
animals = {'Dog', 'Cat', 'Cow', 'Chicken', 'Python', 'Jelly Fish'}

In [62]:
print(mammals.issubset(animals))

True

`issuperset()` would return True if a set contains the other set

In [63]:
print(animals.issuperset(mammals))

True

#### Using copy()

Creating a set from an existing one, only creates a reference

In [64]:
new_set = {1, 2, 3, 4, 5}
copy_set = new_set
print(new_set)
print(copy_set)

In [67]:
copy_set.discard(1)

In [76]:
print(new_set)
print(copy_set)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

Create a copy set

In [80]:
new_set = {1, 2, 3, 4, 5}
copy_set = new_set.copy()
print(new_set)
print(copy_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [81]:
copy_set.discard(1)

In [82]:
print(new_set)
print(copy_set)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}