DateTime module

In [ ]:
import datetime

Dates

In [ ]:
date = datetime.date(2017, 11, 23)

In [ ]:
print date

In [ ]:
right_now = datetime.date.today()

In [ ]:
print right_now

In [ ]:
print right_now.min

In [ ]:
print right_now.max

In [ ]:
print right_now.resolution

In [ ]:
year = right_now.year
month = right_now.month
day = right_now.day

In [ ]:
print 'Today is', day, 'in', month, ',', year

In [ ]:
right_then = right_now.replace(year=2010)

In [ ]:
print right_then

In [ ]:
print right_now - right_then

Time

In [ ]:
time = datetime.time(13, 35, 14, 1)

In [ ]:
print time

In [ ]:
hour = time.hour
minute = time.minute
second = time.second
microsec = time.microsecond

In [ ]:
print 'The exact time is', hour, 'hours,', minute, 'minutes and', second, 'seconds'

In [ ]:
print time.min

In [ ]:
print time.max

In [ ]:
print time.resolution

Get current time

In [ ]:
time = datetime.datetime.now()

Converting date formats

In [ ]:
now = datetime.date.today()

In [ ]:
print now

Converting a date to a string

In [ ]:
now_israel = now.strftime('%d / %m / %Y - %A')

In [ ]:
print now_israel

Converting a string to a date

In [ ]:
date_string = '1--13-1990'

In [ ]:
print date_string.year #Error

In [ ]:
standart_date = datetime.datetime.strptime(date_string, '%m--%d-%Y')

In [ ]:
print standart_date.year

Dates caculations

In [ ]:
t = datetime.date.today()
day_unit = datetime.timedelta(days=1)

In [ ]:
print day_unit

In [ ]:
print 10 * day_unit

In [ ]:
print t + 10 * day_unit

In [ ]:
ten_from_now = t + 10 * day_unit

In [ ]:
print ten_from_now - t