# DateTime module

In [2]:
import datetime as dt

Dates - Year, Month, Day

In [5]:
date = dt.date(2018, 11, 23)

In [6]:
print(date)

2018-11-23

In [8]:
right_now = dt.date.today()

In [9]:
print(right_now)

2019-11-15

### Extracting elements from dates

In [15]:
year = right_now.year
month = right_now.month
day = right_now.day

print(f'Today is the {day} day of the {month} month, {year}')

Today is the 15 day of the 11 month, 2019

We can also print the number of day in te week<br/>
`weekday` - monday is 0, sunday is 6<br/>
`isoweekday` - monday is 1 sunday is 7

In [11]:
print(right_now.weekday())
print(right_now.isoweekday())

4
5

In [12]:
print(right_now.min)
print(right_now.max)
print(right_now.resolution)

0001-01-01
9999-12-31
1 day, 0:00:00

### Change a date value

In [18]:
right_then = right_now.replace(year=2010, month = 2)

In [19]:
print(right_then)

2010-02-15

### Difference between dates

In [44]:
time_gap = right_now - right_then
print(time_gap)
print(time_gap.days)
print(time_gap.total_seconds())
type(time_gap)

3560 days, 0:00:00
3560
307584000.0

datetime.timedelta

In [37]:
week_gap = dt.timedelta(days = 7)
print(right_now)
print(right_now + week_gap)
print(right_now - week_gap)

2019-11-15
2019-11-22
2019-11-08

Add exactly 6 months to a date

In [42]:
day, month, year = (right_now.day, (right_now.month+6)%12, int(right_now.year+(month+6)/12))
dt.date(year, month, day)

datetime.date(2019, 5, 15)

### Time
time - Hour, Minute, Second, Microsecond

In [48]:
time = dt.time(13, 35, 14, 1)

In [49]:
print(time)

13:35:14.000001

In [52]:
hour = time.hour
minute = time.minute
second = time.second
microsec = time.microsecond

In [54]:
print(f'The exact time is {hour} hours, {minute} minutes and {second} seconds')

The exact time is 13 hours, 35 minutes and 14 seconds

In [55]:
print(time.min)
print(time.max)
print(time.resolution)

00:00:00
23:59:59.999999
0:00:00.000001

### Get current time

In [ ]:
time = datetime.datetime.now()

If we need to work with date and time at the same time we can create a `datetime` object that will include all of those elements

In [58]:
dt_obj = dt.datetime(2019, 11, 10, 7, 18, 30, 1)
print(dt_obj)

2019-11-10 07:18:30.000001

We can still access date and time seperatly

In [63]:
print(dt_obj.date())
print(dt_obj.time())

2019-11-10
07:18:30.000001

And also each individual element

In [64]:
print(dt_obj.year)
print(dt_obj.month)
print(dt_obj.day)
print(dt_obj.hour)
print(dt_obj.minute)
print(dt_obj.second)

2019
11
10
7
18
30

### Converting date formats

In [3]:
now = dt.date.today()

In [4]:
print(now)

2019-11-16

Converting a date to a string

In [5]:
now_israel = now.strftime('%d / %m / %Y - %A')

In [6]:
print(now_israel)

16 / 11 / 2019 - Saturday

### Converting a string to a date

In [7]:
date_string = '1--13-1990'

In [8]:
print(date_string.year) #Error

AttributeError: 'str' object has no attribute 'year'

In [10]:
standart_date = dt.datetime.strptime(date_string, '%m--%d-%Y')

In [11]:
print(standart_date.year)

1990

### Dates caculations

Creating `timedelta` object

In [13]:
t = dt.date.today()
day_unit = dt.timedelta(days=1)

In [14]:
print(day_unit)
print(type(day_unit))

1 day, 0:00:00
<class 'datetime.timedelta'>

In [15]:
print(10 * day_unit)

10 days, 0:00:00

Addition and substruction performed on a date object and a timedelta object returns another date

In [16]:
print(t + 10 * day_unit)

2019-11-26

In [17]:
ten_from_now = t + 10 * day_unit

Substraction of 2 date objects returns a time delta object

In [18]:
print(ten_from_now - t)

10 days, 0:00:00