In [82]:
!pip3 install pyodbc

In [52]:
import pyodbc
connection = pyodbc.connect("Driver={SQL Server};"
                      "Server=elevation-data.cb7gknpbdfmf.eu-central-1.rds.amazonaws.com;"
                      "Database=ACDB;"
                      "UID=admin;"
                      "PWD=psvX3rHdnRuEzHZA;"
                      #"Trusted_Connection=yes;") Only for local connections

In [85]:
cursor = connection.cursor()
cursor.execute('SELECT TOP 10 * FROM Customers')

for n, row in enumerate(cursor):
    print(f'Customer number {n+1} | {row}')

Customer number 1 | (1, 'Alvin', 'Smith', '1962-06-27', '2006-08-23', 'New York', 'New York', '5953 Hollister Avenue', '567.867.3945', '936.228.9436', '762.788.3400', Decimal('28.00'), None)
Customer number 2 | (2, 'Jose', 'Jones', '1968-01-17', '2008-06-10', 'Los Angeles', 'California', '4081 Hollister Avenue', '520.336.8373', '939.115.6982', '711.883.3345', Decimal('12.00'), None)
Customer number 3 | (3, 'Amado', 'Taylor', '1965-08-17', '2005-12-09', 'Chicago', 'Illinois', '3402 Broderick Street ', '522.501.6331', '976.113.3737', '767.944.7131', None, 7)
Customer number 4 | (4, 'Stuart', 'Williams', '1983-05-01', '2007-08-28', 'Houston', 'Texas', '5543 Jennings Street', '530.339.4737', '963.891.4185', '756.186.3634', Decimal('17.00'), 23)
Customer number 5 | (5, 'Demarcus', 'Brown', '1971-12-02', '2006-03-05', 'Philadelphia', 'Pennsylvania', '5321 Laguna Street', '580.733.2184', None, '760.663.2046', Decimal('11.00'), 13)
Customer number 6 | (6, 'Mark', 'Davies', '1970-09-01', '2009-07-24', 'Phoenix', 'Arizona', '5868 Cameron Way ', '557.701.1366', '919.345.5511', None, Decimal('18.00'), None)
Customer number 7 | (7, 'Merlin', 'Evans', '1962-04-13', '2005-06-21', 'San Antonio', 'Texas', '8177 Brannan Street ', '542.753.9215', '992.959.8999', None, Decimal('23.00'), 1)
Customer number 8 | (8, 'Elroy', 'Wilson', '1963-01-28', '2010-07-25', 'San Diego', 'California', '1873 Key Avenue', '544.172.1347', '985.345.8501', None, Decimal('6.00'), None)
Customer number 9 | (9, 'Charles', 'Thomas', '1960-05-13', '2009-12-24', 'San Jose', 'California', '9164 Valencia Street', '515.656.3047', None, '799.101.7626', Decimal('29.00'), 37)
Customer number 10 | (10, 'Rudolph', 'Roberts', '1973-11-05', '2005-10-07', 'Jacksonville', 'Florida', '6308 Gilbert Street ', '549.569.1762', '942.671.2496', '729.973.1742', Decimal('7.00'), 7)

In [59]:
df = pd.read_sql_query('SELECT * FROM Customers', connection)

df[df['monthly_discount'] >= 29.0][['Customer_Id', 'First_Name','Last_Name', 'Join_Date', 'monthly_discount']]

      Customer_Id First_Name  Last_Name   Join_Date  monthly_discount
8               9    Charles     Thomas  2009-12-24              29.0
13             14    Harland   Robinson  2008-05-20              30.0
14             15   Herschel       Wood  2010-06-07              30.0
31             32    Dominic       Hill  2006-05-20              29.0
35             36  Guillermo      Scott  2006-05-25              30.0
50             51     Norman     Bailey  2010-10-23              29.0
85             86     Moises     Palmer  2008-08-20              29.0
107           108     Kenton      Mills  2007-01-25              30.0
117           118     Tyrone     Harper  2006-04-20              30.0
119           120      Jesus       Hart  2009-08-10              29.0
131           132      Mikel    Gardner  2009-07-18              29.0
159           160       Yong    Roberts  2009-06-08              30.0
161           162    Trenton      Lewis  2006-05-26              29.0
194           195       Cory      Patel  2010-10-01              29.0
195           196      Ariel      Adams  2005-02-22              29.0
205           206       Neil      Price  2009-03-25              29.0
265           266   Jermaine     Gordon  2006-02-18              29.0
282           283       Jeff      Stone  2010-04-20              30.0
285           286       Rich     Barker  2007-06-03              30.0
307           308     Anibal     Wilson  2008-02-16              30.0
310           311      Quinn    Johnson  2005-09-01              29.0
322           323     Donald     Cooper  2007-07-13              29.0
324           325      Bruno        Lee  2009-06-18              29.0
337           338        Rod     Morris  2009-09-03              29.0
343           344    Carmine   Mitchell  2005-04-27              30.0
357           358      Jamar      Baker  2008-02-25              30.0
358           359   Randolph  Griffiths  2009-08-22              29.0
379           380      Glenn       Khan  2005-12-19              30.0
411           412        Kim       Kaur  2007-03-19              29.0
413           414     Nelson      Dixon  2005-11-04              30.0
415           416     Miquel     Gordon  2009-09-14              29.0
439           440      Nigel      Watts  2005-02-22              30.0
460           461       Andy    Johnson  2009-11-14              30.0
480           481      Billy    Edwards  2005-08-02              29.0
511           512      Mario   Marshall  2005-07-03              29.0
529           530  Nathanial       Khan  2005-10-21              29.0
538           539     Jackie    Stevens  2010-06-04              29.0
549           550      Earle   Saunders  2010-11-05              30.0
602           603      Josef     Taylor  2005-11-25              29.0
607           608     Foster     Wilson  2007-02-20              29.0
643           644        Ben   Mitchell  2010-10-20              29.0
653           654      Jorge      Davis  2009-06-13              30.0
658           659      James  Griffiths  2007-09-19              30.0
664           665    Richard        Cox  2005-06-02              29.0
699           700    Jacinto   Saunders  2010-05-27              30.0
766           767      Roman      White  2007-09-05              29.0
788           789        Man       Hall  2007-10-14              29.0
839           840    Ezekiel      Walsh  2008-07-08              29.0
840           841     Ronnie     Hunter  2006-02-28              30.0
851           852       Lacy     Pearce  2010-04-10              29.0
861           862    Oswaldo       Kaur  2006-10-14              29.0
865           866       Emil     Gordon  2006-01-09              30.0
930           931   Fredrick    Edwards  2010-09-22              30.0
969           970       Reid    Chapman  2008-11-27              29.0
1005         1006      Hyman     Hudson  2010-09-08              30.0
1043         1044    Francis    Jenkins  2005-02-17              30.0
1047         1048     Ernest      Poole  2006-05-23              29.0
1063         1064    Michael   Robinson  2009-02-16              30.0
1068         1069      Jamie    Jackson  2008-10-07              30.0
1206         1207     Lucien      Evans  2006-12-25              29.0