# Get information from online tables

In [ ]:
!pip3 install lxml

In [1]:
import pandas as pd
import lxml

In [19]:
popes = pd.read_html('https://en.wikipedia.org/wiki/List_of_popes')
popes[1].head()

,Pontiffnumber,Pontificate,Portrait,Name: English· Latin,Personal name,Place of birth,Age at start/end of papacy,Notes
0,6,"27 Oct 105 –3 May 115(9 years, 188 days)(3475)",NaN,St Alexander IPapa ALEXANDER,Alexander,"c. 75 AD Rome, Italia, Roman Empire[birth 2]",30 / 40,Roman. Inaugurated the custom of blessing hous...
1,7,"3 May 115 –3 April 125(9 years, 335 days)(3623)",NaN,St Sixtus IPapa XYSTUS,Xystus,"42 AD Rome, Italia, Roman Empire[birth 2]",73 / 83,Roman. Feast day of 6 April. Also revered as a...
2,8,"3 April 125 –5 Jan 136(10 years, 277 days)(3929)",NaN,St TelesphorusPapa TELESPHORUS,Telesphóros,"c. 67 AD Terra Nova, Italy, Roman Empire",58 / 69,Greek. Feast day of 5 January. Also revered as...
3,9,"5 Jan 136 –11 Jan 140(4 years, 6 days)(1467)",NaN,St HyginusPapa HYGINUS,Hygínos,"c. 74 Athens, Achaea, Roman Empire[birth 1]",58 / 62,Greek. Tradition holds he was martyred; feast ...
4,10,"11 Jan 140 –11 July 155(15 years, 181 days)(5660)",NaN,St Pius IPapa PIUS,Pius,"c. 81 AD Aquileia, Italy, Roman Empire[birth 3]",59 / 74,Roman. Martyred by sword; feast day 11 July. D...

# Requests
Install the library

In [ ]:
!pip3 install requests

Import the library

In [20]:
import requests as req

In [23]:
url = 'https://facebook.com'
req.get(url)

http response codes are divided to a few categories:
- 200s mark a success
- 300s mark redirects
- 400s are client (user) errors (like typing a wrong address or trying to access a page you don't have permission to view)
- 500s are server errors (like a site crash, server down etc.)

In [28]:
facebook = req.get(url)
facebook.status_code

200

We can also check to see if we got an ok reponse (anything below 400 is considered a success)

In [35]:
facebook.ok

True

***headers*** will get us a dictionary that contains data on various properties of out ***get*** object

In [37]:
if facebook.ok:
    print(facebook.headers)

{'Content-Encoding': 'gzip', 'Cache-Control': 'private, no-cache, no-store, must-revalidate', 'Pragma': 'no-cache', 'Strict-Transport-Security': 'max-age=15552000; preload', 'Vary': 'Accept-Encoding', 'X-Content-Type-Options': 'nosniff', 'X-Frame-Options': 'DENY', 'X-XSS-Protection': '0', 'Expires': 'Sat, 01 Jan 2000 00:00:00 GMT', 'Set-Cookie': 'fr=18jspIgATrz0nHH9X..BdB4DO.QS.AAA.0.0.BdB4DO.AWXfSKlQ; expires=Tue, 16-Jun-2020 12:00:14 GMT; Max-Age=31536000; path=/; domain=.facebook.com; secure; httponly, sb=zoAHXTUz5w84jwLBzkYMhvl7; expires=Wed, 16-Jun-2021 12:00:14 GMT; Max-Age=63072000; path=/; domain=.facebook.com; secure; httponly', 'Content-Type': 'text/html; charset="utf-8"', 'X-FB-Debug': 'gQXEgtg/GPyk4XjoAQ5OV7gSsxFXejO1FfHcZfcGN9gLg9Xa5HDp8gXRapWDLV4QPVH/efwe/ZsbHz3EmTSKOg==', 'Date': 'Mon, 17 Jun 2019 12:00:14 GMT', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive'}

In [32]:
url = 'https://geekandpoke.typepad.com/.a/6a00d8341d3df553ef01157073a04e970c-pi'
img = req.get(url)

We can also use ***text*** to get the HTML content (utf-8 format) and ***content*** to get the contents in bytes format (good for getting images)

In [40]:
with open('image.png','wb') as f:
    f.write(img.content)

# Connecting to an API
Request library allows us to access various APIs and pulling data from them extremly easy
A good source of finding new APIs: https://public-apis.xyz

For this demonstration we'll use the website https://financialmodelingprep.com
Full API documentation can be found here: https://financialmodelingprep.com/developer/docs

In [42]:
url = 'https://financialmodelingprep.com/api/v3/company/profile/AAPL'
apple = req.get(url)

In [44]:
apple.text

'{\n    "symbol": "AAPL",\n    "profile": {\n        "price": 193.32,\n        "beta": "1.139593",\n        "volAvg": "36724977",\n        "mktCap": "966621071880.00",\n        "lastDiv": "2.92",\n        "range": "142-233.47",\n        "changes": 0.46,\n        "changesPercentage": "(+0.24%)",\n        "companyName": "Apple Inc.",\n        "exchange": "Nasdaq Global Select",\n        "industry": "Computer Hardware",\n        "website": "http://www.apple.com",\n        "description": "Apple Inc is designs, manufactures and markets mobile communication and media devices and personal computers, and sells a variety of related software, services, accessories, networking solutions and third-party digital content and applications.",\n        "ceo": "Timothy D. Cook",\n        "sector": "Technology",\n        "image": "https://financialmodelingprep.com/images-New-jpg/AAPL.jpg"\n    }\n}'

In [65]:
pd.read_json(apple.text)

                  symbol                                            profile
beta                AAPL                                           1.139593
ceo                 AAPL                                    Timothy D. Cook
changes             AAPL                                               0.46
changesPercentage   AAPL                                           (+0.24%)
companyName         AAPL                                         Apple Inc.
description         AAPL  Apple Inc is designs, manufactures and markets...
exchange            AAPL                               Nasdaq Global Select
image               AAPL  https://financialmodelingprep.com/images-New-j...
industry            AAPL                                  Computer Hardware
lastDiv             AAPL                                               2.92
mktCap              AAPL                                    966621071880.00
price               AAPL                                             193.32
range               AAPL                                         142-233.47
sector              AAPL                                         Technology
volAvg              AAPL                                           36724977
website             AAPL                               http://www.apple.com

Let's get a list of stock names from wikipedia:

In [59]:
stocks_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
stocks_data.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [61]:
stocks = stocks_data['Symbol']
stocks.head()

0     MMM
1     ABT
2    ABBV
3    ABMD
4     ACN
Name: Symbol, dtype: object

In [113]:
url = 'https://financialmodelingprep.com/api/v3/company/profile/'
profiles = []
for stock_name in stocks.head(25):
    s = req.get(url + stock_name)
    if s.ok:
        profiles.append(s.content)

In [114]:
len(profiles)

60

In [85]:
pd.DataFrame(profiles).head()

                                                   0
0  b'{\n    "symbol": "MMM",\n    "profile": {\n ...
1  b'{\n    "symbol": "ABT",\n    "profile": {\n ...
2  b'{\n    "symbol": "ABBV",\n    "profile": {\n...
3  b'{\n    "symbol": "ABMD",\n    "profile": {\n...
4  b'{\n    "symbol": "ACN",\n    "profile": {\n ...

In [84]:
pd.read_json(profiles[0])

                  symbol                                            profile
beta                 MMM                                           1.056007
ceo                  MMM                                     Inge G. Thulin
changes              MMM                                               0.07
changesPercentage    MMM                                           (+0.04%)
companyName          MMM                                         3M Company
description          MMM  3M Co is a diversified technology company. It ...
exchange             MMM                            New York Stock Exchange
image                MMM  https://financialmodelingprep.com/images-New-j...
industry             MMM                                Industrial Products
lastDiv              MMM                                               5.76
mktCap               MMM                                    100594200000.00
price                MMM                                              167.1
range                MMM                                      176.87-221.69
sector               MMM                                        Industrials
volAvg               MMM                                            2588875
website              MMM                                  http://www.3m.com

In [119]:
# pd.concat([pd.read_json(stock_profile) for stock_profile in profiles])
stocks_dfs = []
for stock_profile in profiles[:25]:
    stocks_dfs.append(pd.read_json(stock_profile))

In [120]:
all_profiles = pd.concat(stocks_dfs)

In [122]:
all_profiles.shape

(400, 2)

In [132]:
url = req.get('https://financialmodelingprep.com/api/v3/historical-price-full/AAPL', {'from': '2018-01-01', 'to':'2019-01-01'})

In [134]:
url.url

'https://financialmodelingprep.com/api/v3/historical-price-full/AAPL?from=2018-01-01&to=2019-01-01'